*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateanimate {
    from{
        --rotate:0deg;
    }
    to
    {
        --rotate:360deg;
    }
}



.box{
    max-width: 100%;
    padding-inline: 10px;
    padding-bottom: 10px;
    color:whitesmoke;
    text-align: center;
    box-shadow: 0 0  0px rgba(236, 7, 171, 0.925);
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
    background:linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black ,rgb(227, 17, 213),black) border-box;
    animation: rotateanimate 5s forwards;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all ease 0.3s;
    
}

.box:hover{
    animation-play-state: running;
    box-shadow: 0 0  50px rgba(236, 7, 171, 0.925);
    border: 5px solid rgba(0, 0, 0, 0);
    color: rgba(236, 7, 171, 0.925);
}

.box img{
    width: 100%;
}